{% extends "base.html" %}

{% load i18n static %}

{% block bodyclass %}dashboard-page{% endblock bodyclass %}
{% block extra_css %}
  <link rel="stylesheet"
        href="{% static 'vendor/tabler/tabler-icons.min.css' %}" />
  <style>
    .dashboard-main {
      margin-left: 232px;
    }

    .dashboard-main .main {
      margin-left: 0;
    }
  </style>
{% endblock extra_css %}
{% block header %}
  {% if not skip_dashboard_header %}
    {% include "home/includes/site_header.html" %}
  {% endif %}
{% endblock header %}
{% block body %}
  {% block dashboard_body %}
    <div class="app {% block app_class %}{% endblock app_class %}">
      {% block sidebar %}
        {% if sidebar_template %}
          {% include sidebar_template %}
        {% endif %}
      {% endblock sidebar %}
      <div class="dashboard-main">
        {% block topbar %}
          {% if topbar_template %}
            {% include topbar_template %}
          {% endif %}
        {% endblock topbar %}
        <main class="main">
          <div class="content">
            {% include "common/includes/messages.html" %}
            {% block content %}
            {% endblock content %}
          </div>
        </main>
      </div>
    </div>
  {% endblock dashboard_body %}
  {% block footer %}
    {% include "home/includes/site_footer.html" %}
  {% endblock footer %}
{% endblock body %}
