{% extends "base.html" %}

{% load i18n static %}

{% block bodyclass %}dashboard-page{% endblock bodyclass %}
{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/tabler/tabler-icons.min.css' %}" />
{% endblock css %}
{% block extra_css %}
  <style>
    .dashboard-main {
      margin-left: 232px;
    }

    .dashboard-main .main {
      margin-left: 0;
    }
    @media (max-width: 1024px) {
      .dashboard-main { margin-left: 0; }
    }
  </style>
{% endblock extra_css %}
{% block header %}{% endblock header %}
{% block body %}
  {% block dashboard_body %}
    <div class="app {% block app_class %}{% endblock app_class %}">
      {% block sidebar %}
        {% include "dashboard/includes/role_sidebar.html" %}
      {% endblock sidebar %}
      <div class="dashboard-main">
        {% block topbar %}
          {% if topbar_template %}
            {% include topbar_template %}
          {% elif user.landlord_profile %}
            {% include "dashboard/topbars/landlord.html" %}
          {% elif user.tenant_profile %}
            {% include "dashboard/topbars/tenant.html" %}
          {% elif user.employee_profile.guard_profile %}
            {% include "dashboard/topbars/guard.html" %}
          {% elif user.employee_profile.maintenance_agent_profile %}
            {% include "dashboard/topbars/maintenance.html" %}
          {% else %}
            <header class="dashboard-mobile-bar">
              <button type="button" class="menu-button" id="mobile-menu" aria-label="{% translate 'Open menu' %}">
                <i class="ti ti-menu-2" aria-hidden="true"></i>
              </button>
            </header>
          {% endif %}
        {% endblock topbar %}
        <main class="main">
          <div class="content">
            {% include "common/includes/messages.html" %}
            {% block content %}
            {% endblock content %}
          </div>
        </main>
      </div>
    </div>
  {% endblock dashboard_body %}
  {% block footer %}{% endblock footer %}
{% endblock body %}
